<!-- templates/task_detail.html -->
<!-- <!DOCTYPE html>
<html>
<head>
    <title>{{ book.title }}</title>
</head>
<body>
    <h2>{{ book.title }}</h2>
    <p><strong>Author:</strong> {{ book.author }}</p>
    <p><strong>Description:</strong> {{ book.description }}</p>
    
    <a href="{% url 'book_update' book.slug %}">Edit</a> | 
    <a href="{% url 'book_delete' book.slug %}">Delete</a> |
    <a href="{% url 'book_list' %}">Back to Book List</a>
</body>
</html> -->
<h2>{{ book.title }}</h2>
<p><strong>Author:</strong> {{ book.author }}</p>
<p>{{ book.description }}</p>
<a href="{% url 'book_list' %}">Back to List</a>
